* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fff;
}

#container {
    width: 100vw;
    max-width: 100%;
}

#container #header {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #8193ca;
    color: #fff;
}

li {
    list-style-type: none;
}

#container .sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: calc(100vh - 50px);
    max-height: 100%;
    float: left; /* AQUI SE USO EL FLOAT */
    background-color: #30343d;
    color: #fff;
    padding-top: 40px;
    transition: 0.3s ease transform;
    transform: translateX(-100%);
    z-index: 2;
}

#container #sidebar ol li {
    list-style-type: '🔥';
    padding-left: 5px;
}

#container #sidebar ul.lista {
    position: relative;
    width: 100%;
    cursor: pointer;
}

#container #sidebar ul.lista li.director {
    width: 100%;
    font-size: 0.85em;
    padding: 10px 0 10px 20px;
}

#container #sidebar ul.lista li.director:hover {
    background: #444a5a;
}

#container #sidebar ul.lista li.director ol {
    padding-left: 25px;
    /* display none */
    display: none;
}

#container #sidebar ul.lista li.director:hover ol {
    display: block;
}

#container #sidebar ul.lista li.director ol .pelicula {
    transition: 0.3s ease all;
    margin: 5px 0;
}

#container #sidebar ul.lista li.director ol .pelicula:hover {
    transform: scale(1.15);
}

#container .toggle#menu {
    position: absolute;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-top: 5px;
    appearance: none;
    cursor: pointer;
    background-color: #8193ca;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: 0.3s ease all;
    z-index: 100;
}

#container .toggle#menu:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    background-color: transparent;
    border: 2px solid transparent;
}

/*.toggle#menu:checked ~ #sidebar {
    transform: translateX(0);
}*/

#container .showMenuJS {
    transform: translateX(0);
}

#container .content {
    position: absolute;
    width: 100%;
    padding: 20px 150px;
    background: #ebebeb;
    clear: left;
    z-index: 1;
}